##Assigment number 1

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.



error number 1 :
NameError: name 'Ten' is not defined

why ? : we print a variable that is not defined yet

error number 2:
TypeError: 'str' object is not callable

Why? : occurs when you declare a variable and name it with a built-in function 

error number 3:
TypeError: 'int' object is not callable

Why ? : occurs when you declare a variable and name it with a built-in function

error number 4
TypeError: unsupported operand type(s) for -: 'int' and 'str'

Why ? : occurs when we try to use the division / operator with a string and a number.

error number 5
    int A
        ^
SyntaxError: invalid syntax

Why ? : we have to use parenthis for the function  ( int() )

error number 6

ValueError: invalid literal for int() with base 10: '50.22'

Why ? : we can not convert a float in a string to an integere

error number 7


ValueError: invalid literal for int() with base 10: ''

Why ? we can not convert an empty str to an integer in Python

In [ ]:
####################################################""

2. Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = float(input('give the value of A'))
B = float(input('give the value of B'))

print(f'the sum of A {A} and B{B} is {A+B}')
print(f'the multiplication of A {A} and B{B} is {A*B}')
print(f'the division of A {A} and B{B} is {A/B}') # we can add the close (try except if B is null) to be more precise
print(f'th squar of A{A} is {A**2} and the square of B{B} is {B**2}')

give the value of A11.4
give the value of B4.2
the sum of A 11.4 and B4.2 is 15.600000000000001
the multiplication of A 11.4 and B4.2 is 47.88
the division of A 11.4 and B4.2 is 2.7142857142857144
th squar of A11.4 is 129.96 and the square of B4.2 is 17.64

3. How many reserve keywords are there in python and why we should not use them as a variable name.

there are 33 reserve keywords :


False 	// def 	// if // raise
None 	//del 	//import 	//return
True 	//elif 	//in 	//try
and 	//else 	//is 	//while
as //	except //	lambda //	with
assert 	//finally //	nonlocal //	yield
break 	//for //	not 	
class //	from// 	or 	
continue //	global //	pass

Why we can not use them

!! You can not use the keywords to define your variables as it will not allow

4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com

In [ ]:
lastname = input('give your first name')
firstname = input('give your last name')

print(f'your email adress will be as: {lastname}.{firstname}@hotmail.com')

give your first nameelmennaoui
give your last nameabdellah
your email adress will be as: elmennaoui.abdellah@hotmail.com

5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [ ]:
print('Hi I'm Sunny')

SyntaxError: ignored

In [ ]:
print('My address is 22\3 ')

My address is 22

In [ ]:
print('I earn 20$ daily.')

I earn 20$ daily.

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
username = input('give your username ')
adress = input('give your adress ')
date_of_birth = input('give your date of birth ')

print(f' i am {username} and i live in {adress} i was born on the {date_of_birth}')

give your username abdellah
give your adress France
give your date of birth 1999
 i am abdellah and i live in France i was born on the 1999

7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [ ]:
# "22.4" into integer
a = int(float("22.4"))

In [ ]:
a

22

In [ ]:
Z = complex(int('22'))

In [ ]:
Z

(22+0j)